/.idea/*
!/.idea/dictionaries
/build
/src/main/resources/*.properties
/src/main/resources/*.yml
/src/main/resources/*.properties-backup
/src/test/resources/*.yml
/src/main/resources/migration/V4__import_secret_data.sql
/logs
!src/main/resources/firebase/keys/.gitkeep
/src/main/resources/firebase/keys/
/*.sql
/src/main/resources/googlePlay/googlePlayAndroidDeveloperServiceKey.json
/banners/*
/.gradle/
/out/
