/.idea/
/src/main/resources/*.properties
/src/main/resources/migration/*.sql
/logs
/build
/src/main/resources/firebase/keys/serviceAccountKey**
/*.sql
/src/main/resources/googlePlay/googlePlayAndroidDeveloperServiceKey.json
